@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* 폰트 변수 정의 */
  --primary-font: 'Pretendard-Regular', sans-serif;

  /* 글자 변수 정의 */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-100: 100px;

  --font-weight-300: 300px;

  --line-height-27: 27px;

  /* 패딩 크기 변수 정의 */
  --padding-10: 10px;
  --padding-header: 50px;
  --padding-footer: 100px;

  /* 마진 크기 변수 정의 */
  --margin-header: 50px;

  /* 너비 변수 정의 */
  --width-30: 30px;

  /* 높이 변수 정의 */
  --height-50: 50px;
  --height-100: 100px;

  /* border radius 변수 정의 */
  --border-radius-15: 15px;

  /* gap 변수 정의 */
  --gap-10: 10px;

  /* 색상 변수 정의 */
  --color-primary: #00c6be;
  --color-kakao: #ffe500;
  --color-login: #aaa;
  --color-background: #dddddd;
  --color-black-head: #333333;
  --color-gray: #666666;
  --color-light-gray: #959595;
  --color-black-post: #1B1B1B;
  --color-black-comment: #111111;
  --color-header: #e0e0e0;
  --color-border-gray-light: #eeeeee;
  --color-bg-light-gray: #F8F8F8;
}

/* 폰트 적용 */

body {
  font-family: var(--primary-font);
}

/* 글자 크기 */
.c-text-10 {
  font-size: var(--font-size-10);
}
.c-text-100 {
  font-size: var(--font-size-100);
}

/* 패딩 */
.c-p-10 {
  padding: var(--padding-10);
}
.c-p-header {
  padding-top: var(--padding-header);
}
.c-p-footer {
  padding-bottom: var(--padding-footer);
}

/* 마진 */
.c-m-header {
  margin-bottom: var(--margin-header);
}

/* 너비 */
.c-w-30 {
  width: var(--width-30);
}

/* 높이 */
.c-h-50 {
  height: var(--height-50);
}
.c-h-100 {
  height: var(--height-100);
}

/* border radius */
.c-rounded-15 {
  border-radius: var(--border-radius-15);
}

/* gap */
.c-gap-10 {
  gap: var(--gap-10);
}
/* 색상 */
.c-text-primary {
  color: var(--color-primary);
}

.c-bg-kakao {
  background: var(--color-kakao);
}

.c-bg-login {
  background: var(--color-login);
}

.c-bg-background {
  background: var(--color-background);
}

.c-border-header {
  border-bottom: 1px solid var(--color-header);
}

/* footer 글자 설정 */
.c-text-footer {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-300);
  line-height: var(--line-height-27);
}

.text-black-head {
  color: var(--color-black-head);
}

.text-black-post {
  color: var(--color-black-post);
}

.text-black-comment {
  color: var(--color-black-comment);
}

.text-gray {
  color: var(--color-gray);
}

.text-gray-light {
  color: var(--color-light-gray);
}

.b-light-gray {
  border-color: var(--color-background);
}

.bg-light-gray {
  background-color: var(--color-bg-light-gray);
}