:root {
  --color-primary: #00c6be;
  --color-kakao: #ffe500;
  --color-login: #aaa;
  --color-background: #dddddd;
}

.text-primary {
  color: var(--color-primary);
}

.bg-kakao {
  background: var(--color-kakao);
}

.bg-login {
  background: var(--color-login);
}

.bgcolor-background {
  background: var(--color-background);
}
