<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <div
      class="c-h-50 bg-white c-border-header px-5 flex c-gap-10 items-center fixed top-0 left-0 right-0"
    >
      <img class="mr-auto" src="../assets/logos/default.svg" />
      <button>
        <img
          class="ml-auto active:scale-95"
          src="../assets/icons/header-search.svg"
        />
      </button>
      <button
        class="bg-black c-rounded-15 py-1 px-3 text-white c-text-10 active:scale-95"
      >
        시작하기
      </button>
    </div>
  </body>
</html>
