<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <div class="c-p-header c-p-footer">
      <div class="px-6 p-4">
        <span class="font-georgia text-xs leading-4 italic">
          Today's Pick
        </span>
        <h2 class="c-text-19 font-semibold leading-6 pb-1">요즘 뜨는 브런치</h2>

        <div class="pl-1 pt-6 c-border-b flex items-start gap-3.5">
          <img src="/src/assets/numbers/1.svg" />
          <div>
            <h3 class="c-text-17 leading-6">무사히 마흔살이 될 수 있을 까</h3>
            <span class="c-text-writer text-sm font-light leading-5"
              ><italic class="font-georgia c-text-by italic">by</italic>
              강윤이</span
            >
            <p class="c-text-content text-sm font-light leading-5 py-5">
              병원에서 암 진단을 받고 나와 햇볕 이 작열하며 끓어오르는 거리를 …
            </p>
          </div>
          <img src="/src/assets/img/book.png" />
        </div>

        <div class="pl-1 pt-6 c-border-b flex items-start gap-3.5">
          <img src="/src/assets/numbers/2.svg" />
          <div>
            <h3 class="c-text-17 leading-6">무사히 마흔살이 될 수 있을 까</h3>
            <span class="c-text-writer text-sm font-light leading-5"
              ><italic class="font-georgia c-text-by italic">by</italic>
              강윤이</span
            >
            <p class="c-text-content text-sm font-light leading-5 py-5">
              병원에서 암 진단을 받고 나와 햇볕 이 작열하며 끓어오르는 거리를 …
            </p>
          </div>
          <img src="/src/assets/img/book.png" />
        </div>

        <div class="pl-1 pt-6 c-border-b flex items-start gap-3.5">
          <img src="/src/assets/numbers/3.svg" />
          <div>
            <h3 class="c-text-17 leading-6">무사히 마흔살이 될 수 있을 까</h3>
            <span class="c-text-writer text-sm font-light leading-5"
              ><italic class="font-georgia c-text-by italic">by</italic>
              강윤이</span
            >
            <p class="c-text-content text-sm font-light leading-5 py-5">
              병원에서 암 진단을 받고 나와 햇볕 이 작열하며 끓어오르는 거리를 …
            </p>
          </div>
          <img src="/src/assets/img/book.png" />
        </div>

        <div class="pl-1 pt-6 c-border-b flex items-start gap-3.5">
          <img src="/src/assets/numbers/4.svg" />
          <div>
            <h3 class="c-text-17 leading-6">무사히 마흔살이 될 수 있을 까</h3>
            <span class="c-text-writer text-sm font-light leading-5"
              ><italic class="font-georgia c-text-by italic">by</italic>
              강윤이</span
            >
            <p class="c-text-content text-sm font-light leading-5 py-5">
              병원에서 암 진단을 받고 나와 햇볕 이 작열하며 끓어오르는 거리를 …
            </p>
          </div>
          <img src="/src/assets/img/book.png" />
        </div>

        <div class="pl-1 pt-6 c-border-b flex items-start gap-3.5">
          <img src="/src/assets/numbers/5.svg" />
          <div>
            <h3 class="c-text-17 leading-6">무사히 마흔살이 될 수 있을 까</h3>
            <span class="c-text-writer text-sm font-light leading-5"
              ><italic class="font-georgia c-text-by italic">by</italic>
              강윤이</span
            >
            <p class="c-text-content text-sm font-light leading-5 py-5">
              병원에서 암 진단을 받고 나와 햇볕 이 작열하며 끓어오르는 거리를 …
            </p>
          </div>
          <img src="/src/assets/img/book.png" />
        </div>
      </div>
    </div>
  </body>
</html>
