<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>

      <div class="bg-kakao">
      <h1 class="text-4xl text-primary font-bold underline">Home</h1>
      <img class="w-80 p-4" src="../assets/logos/whiteLogo.png" />
    </div>
 </body>
</html>
