<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <header id="header"></header>
    <main class="c-p-header">
      <!-- 여기 메인 안에 각 코드 작성 하시면 될 것 같습니다! -->
      <h1 class="c-text-100">Page2</h1>
      <h1 class="c-text-100">Page2</h1>
      <h1 class="c-text-100">Page2</h1>
    </main>
    <footer id="footer" class="h-24"></footer>
    <script>
      fetch('./header.html')
        .then(res => res.text())
        .then(data => (document.getElementById('header').innerHTML = data))
        .catch(err => console.log('Header Error: ' + err));

      fetch('../components/footer.html')
        .then(res => res.text())
        .then(data => (document.querySelector('footer').innerHTML = data));
    </script>
  </body>
</html>
