<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="font-['Pretendard-Regular']">
    <header
      class="h-[289px] bg-[url(../assets/img/HorizontalBorder.svg)] flex flex-col"
    >
      <div class="h-[50px] border-b bg-white flex items-center shrink-0">
        <img class="py-[14px] ml-5" src="src/assets/logos/default.svg" />
        <div class="flex justify-end grow gap-[10px]">
          <img class="size-[30px]" src="src/assets/icons/header-notice.svg" />
          <img class="size-[30px]" src="src/assets/icons/search.svg" />
        </div>
        <img class="size-[30px] mx-5" src="src/assets/img/profile3.svg" />
      </div>
      <div class="border grow px-5">
        <h1
          class="text-[28px] font-light text-black-head leading-[34px] mt-[79px]"
        >
          우여곡절 끝에 도착한 첫<br />
          번째 목적지
        </h1>
        <p class="text-[16px] text-gray font-light mb-8">Val carlos</p>
        <div class="flex items-center">
          <div
            class="size-[13px] bg-[url(src/assets/icons/icons.svg)] inline-block mr-[3px]"
          ></div>
          <p class="text-xs text-black-head inline-block">sunny</p>
          <p class="text-xs text-gray-light ml-[15px]">Jul 23. 2024</p>
        </div>
      </div>
    </header>
    <main class="px-5">
      <p
        class="mt-[71px] text-[17px] font-light leading-7 indent-2 text-black-post"
      >
        그래 지난 화를 요약해 보면 생장에 도착한 나 는 도착 당일 바로 첫 여정을
        시작하기로 마음먹 었고 추천받은 목적지인 Val carlos까지 구글맵 으로
        걸어서 2시간 30분 거리를 확인했다. 그러 나 걸어도 걸어도 줄지 않는
        시간과 거리에 괴로 워했었지.
      </p>
      <div class="my-7">
        <img src="src/assets/img/post.svg" />
        <p class="mt-2 text-[13px] text-[#838383] text-center">
          여기가 바로 국경이다! 좌-프랑스, 우-스페인
        </p>
      </div>
      <p class="text-[17px] font-light leading-7 indent-1 text-black-post">
        오후 5시 36분. 세상에 인터넷에서 사진으로만 보다가 직접 내 눈으로 처음
        목격한 정식적인(?) 까미노 표식! 아주 반갑기 그지없었다. 왠지 목적지가
        가까워진 것만 같은 느낌적인 느낌! 하지만 구글맵의 내 위치는 전혀 그렇지
        못했다.
      </p>
      <ul class="flex mt-10 gap-[6px]">
        <li
          class="border b-light-gray text-gray text-sm px-[10px] h-[30px] leading-[30px] rounded-[30px]"
        >
          산티아고순례길
        </li>
        <li
          class="border b-light-gray text-gray text-sm px-[10px] h-[30px] leading-[30px] rounded-[30px]"
        >
          트레킹
        </li>
      </ul>
    </main>
    <div class="mt-[29px] mx-5">
      <p class="text-[15px]">댓글 <span class="c-text-primary">7</span></p>
      <ul class="text-[27px]">
        <li class="py-[30px] flex gap-2 items-start custom-adjacent">
          <img src="src/assets/img/user_profile1.svg" />
          <div class="w-full">
            <div class="flex flex-col gap-[2px]">
              <h5 class="text-sm flex justify-between items-center">
                이상옥
                <img
                  class="w-0.5 h-4 mr-[13px]"
                  src="src/assets/icons/menu.svg"
                />
              </h5>
              <span class="text-xs text-gray-light font-light"
                >Jul 23. 2024</span
              >
            </div>
            <p class="text-[16px] mt-3 mb-[14px] leading-6">
              유럽은 국경이 희미해서 좋아요. 옛추억에 점 심은 프랑스에서 저녁은
              스위스에서 먹던 기 억이 나네요. 홀로 산티아고 길을, 마치 행군
              하듯이 걷는 그 고통이 기쁨으로 충만하길 바 라며 읽고 있습니다. ^^
            </p>
            <span class="text-[13px] text-gray-light">답글달기</span>
          </div>
        </li>
        <li class="py-[30px] flex gap-2 items-start custom-adjacent">
          <img src="src/assets/img/user_profile2.svg" />
          <div class="w-full">
            <div class="flex flex-col gap-[2px]">
              <h5 class="text-sm flex justify-between items-center">
                jungsir
                <img
                  class="w-0.5 h-4 mr-[13px]"
                  src="src/assets/icons/menu.svg"
                />
              </h5>
              <span class="text-xs text-gray-light font-light"
                >Jul 24. 2024</span
              >
            </div>
            <p class="text-[16px] mt-3 mb-[14px] leading-6">화이팅!^^</p>
            <span class="text-[13px] text-gray-light">답글달기</span>
          </div>
        </li>
        <li class="py-[30px] flex gap-2 items-start custom-adjacent">
          <img src="src/assets/img/user_profile3.svg" />
          <div class="w-full">
            <div class="flex flex-col gap-[2px]">
              <h5 class="text-sm flex justify-between items-center">
                Sunday Write
                <img
                  class="w-0.5 h-4 mr-[13px]"
                  src="src/assets/icons/menu.svg"
                />
              </h5>
              <span class="text-xs text-gray-light font-light"
                >Jul 24. 2024</span
              >
            </div>
            <p class="text-[16px] mt-3 mb-[14px] leading-6">
              산티아고 순례길…저도 버킷리스트에 담아놓 고 있어요. 미리 답사하는
              기분으로 잘 읽고 있습니다^^
            </p>
            <span class="text-[13px] text-gray-light">답글달기</span>
          </div>
        </li>
      </ul>
      <div class="border b-light-gray">
        <div class="px-5 pt-4 h-[205px]">
          <div class="flex gap-2 mb-[11px]">
            <img src="src/assets/img/user_profile4.svg" />
            <span class="text-[13px]">주정</span>
          </div>
          <textarea
            class="w-full h-[155px]"
            placeholder="댓글을 입력하세요."
          ></textarea>
        </div>
        <div class="border-t-[1px] h-[50px] mt-2 text-right py-[10px] px-5">
          <button
            class="border b-light-gray w-[50px] h-[30px] text-[13px] text-gray-light rounded-[30px]"
          >
            등록
          </button>
        </div>
      </div>
    </div>
    <div
      class="border-t-[9px] border-[#F8F8F8] text-gray-light px-5 mt-16 pb-5"
    >
      <div class="flex mt-14">
        <p class="grow text-black-head">
          Sunny
          <span class="text-gray-light block">회사원</span>
        </p>
        <img src="src/assets/img/Link - 작가 프로필.svg" />
      </div>
      <p class="mt-[15px] text-xs leading-5">
        12년 차 국내 항공사 승무원의 겨울 산티아고 순례길 이야기 연재 중. 커피
        한 잔을 벗 삼아 편하게 읽을 수 있는 글쓰기에 꽤나 진심인 편입 니다.
        후후.
      </p>
      <div class="flex items-center mt-[17px] mb-10">
        <p class="grow text-sm">
          구독자
          <span class="text-gray">108</span>
        </p>
        <button id="subBtn">
          <img id="subscriptionImg" src="src/assets/icons/subscription.svg" />
        </button>
      </div>
    </div>
    <footer class="border-t b-light-gray h-[52px] px-5 py-[13px] flex">
      <div class="flex gap-[3px] grow">
        <button id="likeBtn">
          <img id="likeImg" src="src/assets/icons/like.svg" />
        </button>
        <span id="likeNo">81</span>
        <img class="ml-[18px]" src="src/assets/icons/share.svg" />
      </div>
      <div class="flex gap-[3px] shrink-0">
        <img src="src/assets/icons/talk.svg" />
        <span>3</span>
      </div>
    </footer>
    <script type="module" src="../js/post.js"></script>
  </body>
</html>
