<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <div class="h-[50px] border border-red-500 flex items-center">
      <img class="py-[14px] ml-5" src="../assets/logos/default.png" />
      <div class="flex justify-end grow gap-[10px]">
        <img class="size-[30px]" src="../assets/icons/Property 1=Notice.png" />
        <img class="size-[30px]" src="../assets/icons/Property 1=Search.png" />
      </div>
      <img class="size-[30px] mx-5" src="../assets/img/Rectangle 430.png" />
    </div>
  </body>
</html>
