<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="font-['Pretendard-Regular']">
    <header
      class="h-[289px] bg-[url(../assets/img/HorizontalBorder.png)] flex flex-col"
    >
      <div class="h-[50px] border bg-white flex items-center shrink-0">
        <img class="py-[14px] ml-5" src="../assets/logos/default.png" />
        <div class="flex justify-end grow gap-[10px]">
          <img
            class="size-[30px]"
            src="../assets/icons/Property 1=Notice.png"
          />
          <img
            class="size-[30px]"
            src="../assets/icons/Property 1=Search.png"
          />
        </div>
        <img class="size-[30px] mx-5" src="../assets/img/Rectangle 430.png" />
      </div>
      <div class="border grow px-5">
        <h1
          class="text-[28px] font-light text-black-head leading-[34px] mt-[79px]"
        >
          우여곡절 끝에 도착한 첫<br />
          번째 목적지
        </h1>
        <p class="text-[16px] text-gray font-light mb-8">Val carlos</p>
        <div class="flex items-center">
          <div
            class="size-[13px] bg-[url(../assets/icons/icons.svg)] inline-block mr-[3px]"
          ></div>
          <p class="text-xs text-black-head inline-block">sunny</p>
          <p class="text-xs text-gray-light ml-[15px]">Jul 23. 2024</p>
        </div>
      </div>
    </header>
    <main></main>
  </body>
</html>
