<nav class="px-11 shadow-md bg-white">
  <div class="container mx-auto flex justify-between items-center">
    <form name="searchForm" id="searchForm" class="relative w-full my-[20px]">
      <input
        id="searchInput"
        type="search"
        class="text-center w-full text-[24px] font-light focus:outline-none"
        placeholder="검색어 입력"
      />
    </form>
  </div>
  <div class="flex text-[14px] hidden" id="searchTab">
    <button
      id="articleTab"
      class="tab-button flex-grow py-2 border-b-[#00c6ee] bg-white text-[#00c6ee]"
    >
      글
    </button>
    <button id="authorTab" class="tab-button flex-grow text-[#666]">
      작가
    </button>
  </div>
</nav>
<section class="p-5 border border-b-slate-200">
  <h1 class="text-[12px] text-[#bbb]">추천 작가 키워드</h1>
  <h2 class="my-[10px] text-[20px] text-[#333]">
    일상의 따뜻한 위로, <span class="text-[#00c6be]">그림</span> 작가를 만나요
  </h2>
  <div class="mb-[10px]">
    <p
      class="inline-block text-[15px] text-[#959595] bg-white border border-[#ddd] rounded-3xl px-3 py-2"
    >
      한의사
    </p>
    <p
      class="inline-block text-[15px] text-[#959595] bg-white border border-[#ddd] rounded-3xl px-3 py-2"
    >
      출간작가
    </p>
    <p
      class="inline-block text-[15px] text-[#959595] bg-white border border-[#ddd] rounded-3xl px-3 py-2"
    >
      에세이스트
    </p>
  </div>
</section>
<section class="p-5">
  <h1 class="text-[12px] text-[#828282]">최근 검색어</h1>
</section>

<section class="p-5 hidden">
  <h1 class="text-[12px] text-[#959595]">글 검색 결과</h1>
  <div id="articleResults" class="py-3"></div>
</section>

<section class="p-5 hidden">
  <h1 class="text-[12px] text-[#959595]">작가 검색 결과</h1>
  <div id="authorResults" class="py-3"></div>
</section>
