<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
</head>

<body>
    <div class="w-[360px] flex flex-col mx-auto">
        <h1 class="text-[#111] font-semibold text-[19px] mx-auto mt-[14px] mb-[44px]">회원가입</h1>
        <section id="signup-form" class="text-[16px]">
            <div class="flex w-[320px] mx-auto mb-[36px] border-b border-[#d7d7d7] items-center">
                <input class="flex-grow w-[320px] h-[43px]" id="nickname" type="text" autocomplete="off"
                    placeholder="별명" />
                <button
                    class="text-[#00c6be] text-[13px] border-[#00c6be] border rounded-3xl px-2 py-1 float-right whitespace-nowrap">중복확인</button>
            </div>
            <div class="flex w-[320px] mx-auto mb-[36px] border-b border-[#d7d7d7] items-center">
                <input class=" w-[320px] mx-auto h-[43px]" id="email" type="text" autocomplete="off"
                    placeholder="이메일" />
                <button
                    class=" text-[#00c6be] text-[13px] border-[#00c6be] border rounded-3xl px-2 py-1 float-right whitespace-nowrap">중복확인</button>
            </div>
            <div class="w-[320px] mx-auto border-b border-[#d7d7d7]">
                <input class="w-[320px] mx-auto h-[43px]" id="password" type="password"
                    autocomplete="off" placeholder="비밀번호" />
            </div>
            <div class="w-[320px] mx-auto border-b border-[#d7d7d7]">
                <input class="w-[320px] mx-auto h-[43px]" id="password" type="password"
                    autocomplete="off" placeholder="비밀번호 확인" />
            </div>
            <div class="w-[320px] mx-auto mt-[114px]">
                <button class="w-[320px] h-[50px] bg-[#aaa] rounded text-white active:bg-[#00c6be]">회원가입</button>
            </div>
        </section>
    </div>
</body>

</html>