<header class="bg-light-gray h-[100px]">
  <div class="h-[50px] flex items-center shrink-0">
    <img class="py-[14px] ml-5" src="/public/assets/logos/default.svg" />
    <div class="flex justify-end grow gap-[10px]">
      <img class="size-[30px]" src="/public/assets/icons/header-notice.svg" />
      <img class="size-[30px]" src="/public/assets/icons/search.svg" />
    </div>
    <img class="size-[30px] mx-5" src="/public/assets/img/profile3.svg" />
  </div>
</header>
<main>
  <div class="px-5">
    <div id="user" class="flex justify-between">
      <!-- <h1 class="text-black-head flex flex-col text-[27px]">
            AB
            <span class="text-gray-light text-xs">기획자</span>
          </h1>
          <img class="-mt-10 size-20" src="../assets/img/photo.svg" /> -->
    </div>
    <div class="flex mt-4 items-center justify-between">
      <div class="flex">
        <span
          class="text-xs text-gray-light mr-7 after:content-['30'] flex flex-col after:text-base after:text-[#666666]"
          >구독자</span
        >
        <span
          class="text-xs text-gray-light after:content-['16'] flex flex-col after:text-base after:text-[#666666]"
          >관심작가</span
        >
      </div>
      <button id="subBtn">
        <img id="subscriptionImg" src="/public/assets/icons/subscription.svg" />
      </button>
    </div>
  </div>
  <ul id="writeList">
    <!-- <li class="h-[157px]">
          <div class="pt-[21px] pb-[18px] px-5">
            <a class="text-[13px] underline c-text-primary" href="#"
              >취준은 처음이라</a
            >
            <h2 class="text-[17px] text-black-head">
              [취업특강] 노션 포트폴리오 만들기
            </h2>
            <p class="text-xs text-gray-light leading-5">
              <span class="text-gray mr-[21px]"
                >with 노슈니, 슈크림 마을, 마포청년나루</span
              >
              | 취업 준비를 위해 반드 시 필요한 것 세 가지. 자기소개서, 이력서,
              포트폴리오. 그중에서 최…
            </p>
            <div class="flex gap-3 text-xs text-gray-light">
              <p>댓글 <span>0</span></p>
              <span
                class="before:cotent-['aaaa'] before:w-0.5 before:h-0.5 before:rounded-full before:block before:bg-[#DDDDDD] flex items-center gap-1"
                >Jul 02. 2024</span
              >
            </div>
          </div>
          <hr class="border-[#EEEEEE]" />
        </li>
        <li class="h-[157px]">
          <div class="pt-[21px] pb-[18px] px-5">
            <a class="text-[13px] underline c-text-primary" href="#"
              >취준은 처음이라</a
            >
            <h2 class="text-[17px] text-black-head">
              [취업특강] 노션 포트폴리오 만들기
            </h2>
            <p class="text-xs text-gray-light leading-5">
              <span class="text-gray mr-[21px]"
                >with 노슈니, 슈크림 마을, 마포청년나루</span
              >
              | 취업 준비를 위해 반드 시 필요한 것 세 가지. 자기소개서, 이력서,
              포트폴리오. 그중에서 최…
            </p>
            <div class="flex gap-3 text-xs text-gray-light">
              <p>댓글 <span>0</span></p>
              <span
                class="before:cotent-['aaaa'] before:w-0.5 before:h-0.5 before:rounded-full before:block before:bg-[#DDDDDD] flex items-center gap-1"
                >Jul 02. 2024</span
              >
            </div>
          </div>
          <hr class="border-[#EEEEEE]" />
        </li>
        <li class="h-[157px]">
          <div class="pt-[21px] pb-[18px] px-5">
            <a class="text-[13px] underline c-text-primary" href="#"
              >취준은 처음이라</a
            >
            <h2 class="text-[17px] text-black-head">
              [취업특강] 노션 포트폴리오 만들기
            </h2>
            <p class="text-xs text-gray-light leading-5">
              <span class="text-gray mr-[21px]"
                >with 노슈니, 슈크림 마을, 마포청년나루</span
              >
              | 취업 준비를 위해 반드 시 필요한 것 세 가지. 자기소개서, 이력서,
              포트폴리오. 그중에서 최…
            </p>
            <div class="flex gap-3 text-xs text-gray-light">
              <p>댓글 <span>0</span></p>
              <span
                class="before:cotent-['aaaa'] before:w-0.5 before:h-0.5 before:rounded-full before:block before:bg-[#DDDDDD] flex items-center gap-1"
                >Jul 02. 2024</span
              >
            </div>
          </div>
          <hr class="border-[#EEEEEE]" />
        </li> -->
  </ul>
</main>
