<div class="h-[87vh] flex flex-col">
  <header class="flex justify-between items-center p-4 border-b">
    <button id="exit">
      <img src="/public/assets/icons/exit.svg" class="w-8 h-8" />
    </button>
    <h1 id="writing" class="text-lg font-semibold">글쓰기</h1>
    <button id="done">
      <img src="/public/assets/icons/done-off.svg" class="w-8 h-8" />
    </button>
  </header>

  <main
    id="align-section"
    class="flex-grow p-4 flex flex-col space-y-6 overflow-y-auto"
  >
    <input
      type="text"
      id="title"
      placeholder="제목"
      class="text-[26px] border-b px-6 pb-6 -mx-4 focus:outline-none"
    />
    <input
      type="text"
      id="subtitle"
      placeholder="소제목"
      class="text-[18px] border-b px-6 pb-6 -mx-4 focus:outline-none"
    />
    <textarea
      id="contents"
      placeholder="내용을 입력하세요"
      class="h-[300px] text-[18px] px-6 -mx-4 resize-none focus:outline-none"
    ></textarea>
  </main>

  <div class="flex justify-between items-center py-3 px-6 bg-gray-50">
    <div class="flex justify-start">
      <button id="picture" onClick="location.href='upload.html'">
        <img src="/public/assets/icons/picture.svg" class="w-10 h-10" />
      </button>
      <button id="align" class="mx-6">
        <img src="/public/assets/icons/align-left.svg" class="w-10 h-10" />
      </button>
    </div>
    <button id="keyboard">
      <img src="/public/assets/icons/keyboard-hide.svg" class="w-10 h-10" />
    </button>
  </div>
</div>
