<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <ul
      class="c-h-100 bg-white flex justify-around items-center fixed bottom-0 left-0 right-0 text-center"
    >
      <li>
        <a href="" class="c-text-footer" data-icon="home">
          <img class="icon w-12 h-12" src="../assets/icons/home-off.svg" />
          <span>홈</span>
        </a>
      </li>
      <li>
        <a href="" class="c-text-footer" data-icon="search">
          <img class="icon w-12 h-12" src="../assets/icons/search-off.svg" />
          <span>발견</span>
        </a>
      </li>
      <li>
        <a href="" class="c-text-footer" data-icon="write">
          <img class="icon w-12 h-12" src="../assets/icons/write-off.svg" />
          <span>글쓰기</span>
        </a>
      </li>
      <li>
        <a href="" class="c-text-footer" data-icon="mybox">
          <img class="icon w-12 h-12" src="../assets/icons/mybox-off.svg" />
          <span>내 서랍</span>
        </a>
      </li>
    </ul>

    <script src="footer.js"></script>
  </body>
</html>
