<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <ul
      class="c-h-100 bg-white flex justify-around items-center fixed bottom-0 left-0 right-0"
    >
      <li class="text-center">
        <a href="" class="c-text-footer">
          <img class="w-12 h-12" src="../assets/icons/home-off.svg" />
          홈</a
        >
      </li>
      <li class="text-center">
        <a href="" class="c-text-footer">
          <img class="w-12 h-12" src="../assets/icons/search-off.svg" />
          발견</a
        >
      </li>
      <li class="text-center">
        <a href="#home" class="c-text-footer">
          <img class="w-12 h-12" src="../assets/icons/write-off.svg" />
          글쓰기</a
        >
      </li>
      <li class="text-center">
        <a href="#home" class="c-text-footer">
          <img class="w-12 h-12" src="../assets/icons/mybox-off.svg" />
          내 서랍</a
        >
      </li>
    </ul>
  </body>
</html>
