<ul
  class="c-h-100 bg-white flex justify-around items-center fixed bottom-0 left-0 right-0 text-center z-20"
>
  <li class="text-center">
    <a id="home" class="c-text-footer">
      <img class="icon w-12 h-12" src="/src/assets/icons/home-off.svg" />
      <span>홈</span>
    </a>
  </li>
  <li class="text-center">
    <a id="search" class="c-text-footer">
      <img class="icon w-12 h-12" src="/src/assets/icons/search-off.svg" />
      <span>발견</span>
    </a>
  </li>
  <li class="text-center">
    <a id="write" class="c-text-footer">
      <img class="icon w-12 h-12" src="/src/assets/icons/write-off.svg" />
      <span>글쓰기</span>
    </a>
  </li>
  <li class="text-center">
    <a id="mybox" class="c-text-footer">
      <img class="icon w-12 h-12" src="/src/assets/icons/mybox-off.svg" />
      <span>내 서랍</span>
    </a>
  </li>
</ul>
