<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <div
      class="c-h-50 bg-white c-border-header px-5 flex c-gap-10 items-center fixed top-0 left-0 right-0"
    >
      <img class="mr-auto" src="/src/assets/logos/default.svg" />
      <button>
        <img
          class="ml-auto active:scale-95 -mt-0.5 mr-1.5"
          src="/src/assets/icons/header-notice.svg"
        />
      </button>
      <button>
        <img
          class="active:scale-95 mr-1.5"
          src="/src/assets/icons/header-search.svg"
        />
      </button>
      <button>
        <img class="active:scale-95" src="/src/assets/icons/ex-profile.png" />
      </button>
    </div>
  </body>
</html>
